
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
img,
fieldset,
abbr,
acronym {
  border: 0;
  max-width: 100%;
  width: auto;
}

body {
  padding: 0 !important;
  font-family: 'Kanit', sans-serif;
}

body a,
body button {
  color: #000;
  outline: none !important;
  text-decoration: none !important;
  transition: all ease 0.5s;
}


* {
  padding: 0;
  margin: 0;
}
.p-100{
  padding: 80px 0px;
}
h2 {
  font-size: 35px;
  font-weight: 600;
  margin: 20px 0px;
}

.m-100 {
  margin-bottom: 100px;
}

.what {
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 999;
}
.what a {
    color: #fff;
    font-size: 32px;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 10px 0px #0000003b;
    background: #000;
}
.what a:last-child {
    font-size: 25px;
}
.what2 {
    right: 10px;
    left: auto;
}
.sec-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f00b0b;
  color: #fff;
  border-radius: 4px;
  transition: .5s;
  border: 1px solid #f00b0b;
  text-transform: uppercase;
  font-size: 18px;
}

.sec-btn:hover {
  background-color: transparent;
  color: #f00b0b;
  border-radius: 30px;
}

.under {
  text-transform: uppercase;
  position: relative;
  font-weight: 500;
}
.under::after{
  position: absolute;
  bottom: 5px;
  z-index: -1;
  left: 0;
  background-color: #f00b0b;
  height: 4px;
  width: 100%;
  content: "";
}

/* -------Globle-css-end------- */

/* ------header-section-start------- */

.top-bar {
  padding: 10px 0px;
  position: relative;
  background-color: #f00b0b;
}

.top-left ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: flex-end;
}

.top-left ul li {
  margin: 0px 5px;
}

.top-left ul li a {
  height: 40px;
  width: 40px;
  display: flex;
  transition: .5s;
  color: #fff;
  font-size: 18px;
  align-items: center;
  background-color: #000;
  border-radius: 4px;
  justify-content: center;
}


.top-left ul li a:hover {
  color: #000;
  background-color: #fff;
  border-radius: 100%;
}

.top-right {
  display: flex;
  color: #fff;
  padding-right: 80px;
  align-items: center;
}

.top-right .phone {
  margin-right: 20px;
}

.top-right a {
  color: #fff;
}

header .book {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f00b0b;
  height: 150px;
}
header .book .sec-btn{
  background-color: #d9f2f8;
  border-color: #d9f2f8;
  color: #161616;
}
header .book a {
  color: #fff;
  font-weight: 600;
}

/* ------menu-------- */
.menu {
  position: relative;
  background-color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  width: 250px;
}

.dropdown-menu {
  padding: 0;
}

.menu .navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 120px;
  width: 100%;
}
.menu .navbar-brand img{
  
    width: 200px;
    
}
.menu .navbar {
  padding: 5px 0px;
}

.menu .navbar-expand-lg .navbar-nav .nav-link {
  position: relative;
  padding: 0px 15px;
  font-size: 18px;
  transition: .5s;
  color: #000;
}

.menu .navbar-expand-lg .navbar-nav .nav-link:hover,
.menu .navbar-expand-lg .navbar-nav .nav-link.active {
  color: #000;
}

/* -------header-section-end------ */

/* ---Hero-Section--- */

.hero-section .hero-slide,
.hero-section .hero-slide2 {
  position: relative;
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

/* Overlay */
.hero-section .hero-slide::after,
.hero-section .hero-slide2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* 0.5 = 50% dark overlay */
  z-index: -1;
}

/* Background images */
.hero-section .hero-slide {
  background-image: url(../images/hero2.jpg);
}

.hero-section .hero-slide2 {
  background-image: url(../images/banner.jpg);
}

.hero-section .slick-dots{
  display: none !important;
}
/* ---Hero-Section--- */

/* ------About-section-start-------- */

.about-section .as-item{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-section .as-item .as-img2{
  margin-left: 20px;
}
.as-item .as-img1 .overlay{
  background-color: #eee;
  border: 3px double #000;
  padding: 10px;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
}
.about-section h2{
  margin: 10px 0px;
}
.as-item .as-img1 .overlay b{
  font-size: 38px;
  font-weight: 600;
  color: #000;
}
.about-section .under{
  display: inline-block;
}
.as-contnet h2{
  font-size: 32px;
  margin: 0px;
}
.as-contnet p{
  margin-bottom: 7px;
}

.as-content ul{
  list-style: none;
  padding: 0;
}
.as-content ul li{
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 13px 0px;
}
.as-content ul li i{
  margin-right: 15px;
  color: #fff;
  height: 30px;
  border-radius: 2px;
  width: 30px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.as-img{
  border-radius: 10px;
}
.as-img img{
  border-radius: 10px;
  width: 100%;
}
.about-section .ms-box{
  padding: 20px;
  background-color: #eee;
  height: 100%;
  border-radius: 10px;
}
.about-section .ms-box .icon{
  height: 100px;
  width: 100px;
  background-color: #000;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  margin-bottom: 20px;
}
/* ------About-section-End---------- */
/* ------gallery-section------- */
.gallery-section{
  padding: 80px 0px;
}
.gallery-section .gs-head {
  text-align: center;
}

.gallery-section .gallery-box {
  position: relative;
  margin-top: 20px;
  transition: .5s;
}
.gallery-box:hover a img{
  transform: scale(.95);
}
.gallery-box a img {
  width: 100%;
  height: 328px;
  transition: .5s;
  object-fit: cover;
}

/* -----Gallery-section-start----- */
/* ------feature-section-start------- */

.feature-section{
  text-align: center;
}
.fea-box{
  margin-top: 20px;
}
.fea-box h4{
  margin-top: 20px;
}
/* ------feature-section-end------- */

/* -----Service-section-start----- */
.service-section{
  padding: 80px 0px;
  position: relative;
}
.service-section::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-attachment: fixed;
  content: "";
  background-position: center;
  background-size: cover;
  z-index: -2;
  height: 100%;
  background-image:linear-gradient(#fff,#ffffffda),url(../images/service-banner.webp);
}
.ser-head{
  text-align: center;
  margin-bottom: 20px;
}
.ser-box{
  padding: 20px;
  margin-top: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px #00000015;
}
.ser-box .ser-img img{
  height: 220px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}
.ser-box .ser-img{
  margin-bottom: 20px;
  margin-top: -70px;
}
.ser-box h2{
  font-size: 24px;
  margin: 10px 0px;
}
/* -----Service-section-End----- */


/* ----testimonial-section-start---- */

.testimonial-section{
  background-image:url(../images/shap.webp);
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}
.testimonial-section .tes-head {
  text-align: center;
  position: relative;
  z-index: 23;
}
.testimonial-section .tes-head h2{
  margin-top: 0;
}
.testimonial-section .tes-head .under{
  justify-content: center;
  margin-bottom: 0;
}
/* .testimonial-section::after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: #ecf0f4;
  opacity: 0.98;
  z-index: 1;
} */
 .testimonial-section .tes-slider .slick-slide{
  margin:10px;
 }
.review-box{
  padding:30px 25px;
  position: relative;
  border-radius: 10px;
  margin:0px 15px ;
  border-top: none;
  background-color: #fdfdfd;
  box-shadow: 0px 5px 10px 0px #41404011;
}
.testimonial-section .review-box::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-position:top;
  background-repeat: no-repeat;
  z-index: 2;
  background-color: #fff;
  background-size: 100% 100%;
  content: "";
  background-image: url(../images/tes-shape.webp);
}
.testimonial-section .review-box::before{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ebedef;
  border-radius: 0px 0px 10px 10px;
  content: "";
}
.review-box .user-info{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.review-box .user-info img{
  width: 80px;
}
.review-box .user-info .text{
  margin-left: 20px;
}
.review-box .user-info .text h5{
  font-weight: 600;
  color: #000;
  font-size: 20px;
  margin-bottom: 0;
}
.review-box q{
  line-height: 28px;
}
.review-box .ratting{
  margin-top: 10px;
  text-align: right;
  color: #eba31d;
  letter-spacing: 2px;
}

/* ----testimonial-section-end--- */

/* -------video-section-start-------- */

.video-section{
  padding: 80px 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.532),rgba(0, 0, 0, 0.526)),url(../images/video-bg.jpg);
  background-size: cover;
  color: #fff;
  background-position: center;
}
.video-section .under{
  color: #fff;
}
.video-section .video{
  position: relative;
}
.video .video-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
  background-color: #f00b0b;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  transform: translate(-50%,-50%);
  border-radius: 100%;
  color: #fff;
}
.video .video-btn::after{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  width: 100%;
  content: '';
  height: 100%;
  animation: play 2s linear infinite;
}


.video .video-btn p{
  margin-bottom: 0;
}

@keyframes play {
  0%{box-shadow: 0px 0px 0px 0px transparent;}
  50%{box-shadow: 0px 0px 0px 0px #000;}
  100%{box-shadow: 0px 0px 0px 40px transparent;}
}

/* -------video-section-end------ */

/* -------team-section-start-------- */

.team-section{
  padding: 100px 0px 60px; 
}
.team-head{
  text-align: center;
  margin-bottom: 30px;
}
.team-box{
  margin: 10px 15px;
}
.team-box .team-img img{
  height: 280px;
  width: 100%;
  object-fit: cover;
}
.team-box span{
  color: #f00b0b;
  font-size: 15px;
  text-transform: uppercase;
}
.team-box .text{
  position: relative;
  background-color: #fff;
  padding: 10px 20px;
  transition: .5s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.204);
}
.team-box:hover .text{
  background-color: #000;
  color: #fff;
}
.team-box .plus{
  position: absolute;
  top: 5px;
  right: 30px;
  text-align: end;
  width: 100%;
}
.team-box .plus span {
    position: relative;
    font-size: 30px;
    color: #fff;
    padding-right: 0px;
    z-index: 4;
    line-height: 30px;
    padding-bottom: 26px;
}
.team-box .plus::after{
  position: absolute;
  top: -10px;
  right: 0;
  content: '';
  border-top: 6px solid #f00b0b;
  width: 80%;
}
.team-box .plus::before{
  position: absolute;
  top: -10px;
  z-index: 1;
  right: -18px;
  content: '';
  width: 50px;
  height: 50px;
  background-color: #f00b0b;
}
.slick-prev,.slick-next{
  display: none !important;
}
.team-slider .slick-dots{
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  list-style: none;
}
.team-slider .slick-dots button{
  font-size: 0;
  height: 10px;
  width: 10px;
  background-color: #f00b0b;
  border: none;
  border-radius: 100%;
  margin: 10px 4px;
}
.team-slider .slick-dots .slick-active button{
  background-color: #000;
  height: 8px;
  border-radius: 10px;
  width: 40px;
}
/* -------team-section-End-------- */


/* ------cta-section-start--------- */
.cta-section {
  margin-top: 40px;
  background-color: #000;
  position: relative;
  padding-top: 50px;
  color: #fff;
  overflow-x: clip;
}

.cta-section::after {
  height: 100%;
  width: 550px;
  background-color: #f00b0b;
  transform: skew(30deg);
  position: absolute;
  top: 0;
  right: -100px;
  content: '';
}

.cta-section .call {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.cta-section .call h3 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 40px;
}

.cta-section .call h3 a {
  color: #f00b0b;
}

.cta-section .call>a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background: #f00b0b;
  color: #fff;
  font-size: 25px;
  border-radius: 100%;
}

.cta-section .call>a::after {
  height: 100%;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100%;
  content: '';
  animation: zoom2 2s infinite;
}

.cta-section .cta-img {
  margin-top: -140px;
  position: relative;
  z-index: 1;
  margin-bottom: -42px;
}
.cta-section .cta-img img{
  width: 78%;
}
@keyframes zoom2 {
  0% {
    box-shadow: 0px 0px 0px 0px transparent;
  }

  50% {
    box-shadow: 0px 0px 0px 0px #fff;
  }

  100% {
    box-shadow: 0px 0px 0px 20px transparent;
  }
}

/* --------cta-section-end------- */

/* ------footer-section-start------- */

.footer-section {
  padding-top: 50px;
  position:relative;
  z-index:9;
  background:#deede8 ;
  background-size: cover;
  background-position: center;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo img {
    width: 250px;
}

.footer-box .social {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.footer-box .social li {
  margin: 0px 5px;
}

.footer-box .social li a {
  height: 40px;
  width: 40px;
  display: flex;
  transition: .5s;
  background-color: #000;
  font-size: 18px;
  border-radius: 3px;
  color: #fff;
  align-items: center;
  justify-content: center;
}


.footer-box .social li a:hover {
  background-color: #f00b0b;
}

.footer-box .footer-title h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000;
  position: relative;
}

.footer-box .footer-title h4::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #f00b0b;
  width: 50px;
  border-radius: 10px;
  height: 3px;
  content: '';
}

.footer-link ul li a:hover {
  color: #f00b0b;
}

.footer-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-box ul li {
  margin: 10px 0px;
}


.footer-link2 ul li {
  display: flex;
  align-items:center;
  margin: 15px 0px;
}

.footer-link2 ul li a:hover {
  color: #f00b0b;
}
.footer-link2 ul li p{
    margin-bottom:0;
}
.footer-link2 ul li i {
  margin-right: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  transition: .4s;
  border-radius: 3px;
  width: 40px;
  background-color: #000;
  font-size: 20px;
}
.footer-link2 ul li i:hover{
  background-color: #f00b0b;
}

.footer-link2 ul li span,
.footer-link2 ul li a {
  flex: 1;
}

.footer-section .copy-right {
  text-align: center;
  padding: 10px;
  background-color: #f00b0b;
  margin-top: 30px;
  font-weight: 300;
  color: #fff;
}

.footer-section .copy-right p {
  margin-bottom: 0;
}

.main-image-box {
    display:none !important;
}

/* ------footer-section-end-------- */

/* ------About-Page-Style------- */

/* ------banner-section-start------- */
.banner-section{
  padding: 100px 0px 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.436),rgba(0, 0, 0, 0.433)),url(../images/banner.webp);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.banner-section .banner-title h2{
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin: 0;
  font-weight: 600;
}

.banner-section .list ul{
  display: flex;
  align-items: center;
  color: #000;
  justify-content: center;
  margin: 0;
  list-style: none;
}
.banner-section .list ul li{
  margin: 0px 4px;
  font-size: 18px;
}
.banner-section .list ul li a{
  padding: 0px 5px;
  color: #fff;
}

/* -------banner-section-end------- */

/* -------Contact-Page-Style------- */

.contact-section .contact-box{
  padding: 20px;
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  position: relative;
  height: 100%;
  transition: .5s;
}
.contact-section .contact-box::after{
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 100%;
  transition: .5s;
  background-color: #f00b0b;
  content: "";
}
.contact-section .contact-box:hover:after{
  height: 100%;
}
.contact-box .icon{
  height: 80px;
  background-color: #f00b0b;
  border-radius: 100%;
  margin-bottom: 10px;
  z-index: 9;
  transition: .5s;
  position: relative;
  color: #fff;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-box:hover .icon{
  background-color: #000;
}
.contact-box .icon img{
  width: 45px;
  filter: brightness(88);
  transition: .5s;
}

.contact-box .text{
  flex: 1;
  position: relative;
  z-index: 9;
}
.contact-box .text h4{
  font-size:22px ;
  font-weight: 700;
  transition: .5s;
  color: #f00b0b;
}
.contact-box:hover .text h4{
  color: #000;
}
.contact-box .text a{
  color: #fff;
}
.contact-box .text address{
  margin-bottom: 0;
}
.form-section .map{
  height: 100%;
}
/* -------Contact-Page-Style------- */

/* ------form-section-start------ */
.form-section .form-head{
  text-align: center;
}
 .form-box{
  background-color: #f00b0b;
  color: #fff;
  padding: 25px;
  border-radius: 5px;
}
.form-box .f-box input{
  padding: 13px 20px;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
  border: none;
}
 .form-box .f-box .sec-btn{
  background-color: #000;
  margin-top: 10px;
}
.form-section .count-box{
  padding: 30px;
  background-color: #eee;
  display: flex;
  margin: 15px 0px;
  align-items: center;
}
.form-section .count-box .icon{
  height: 100px;
  width: 100px;
  background-color: #000;
  display: flex;
  margin-right: 15px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
.form-section .count-box h3{
  font-size: 40px;
  color: #f00b0b;
}
.form-section .count-box h3::after{
  content: "+";
}
.form-section .count-box .text{
  flex: 1;
}
.form-section .count-box .text p{
  margin-bottom: 0;
}
.form-section #choose .count-box{
  display: block;
  margin-top: 10px;
}
.form-section #choose .count-box .icon{
  margin-right: 0;
  margin-bottom: 10px;
  background-color: #f00b0b;
}
/* ------form-section-start------ */


/* --------project-secction---------- */
.project-section{
  padding: 100px 0px;
  text-align: center;
}

.pro-head h2{
  margin-bottom: 0;
}
.project-section .pro-box {
  margin-top: 20px;
  position: relative;
}
.project-section .pro-box img {
  border-radius: 2px;
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.project-section ul li a {
  padding: 5px 15px;
  color: #fff;
  border: 2px solid #000;
  background: #000;
  border-radius: 8px;
}
.project-section ul li {
  margin: 10px 4px;
}
.project-section ul li a:hover {
  color: #000;
  border-radius: 30px;
  background-color: transparent;
}
.project-section #tabs-nav {
  display: flex;
  align-items: center;
  flex-wrap:wrap;
  justify-content: center;
  padding: 0;
  margin: 13px 0px;
  list-style: none;
}
.project-section .pro-layer {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #11687ed9;
  font-size: 25px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-radius: 10px;
  z-index: 88;
  transition: .5s;
}
.project-section ul li .mixitup-control-active {
  color: #000;
  border-radius: 30px;
  background-color: transparent;
}
.project-section .pro-box:hover .pro-layer {
  transform: scale(1);
}
.project-section .pro-layer a {
  color: #fff;

}
.project-section .pro-layer p{
  font-size: 25px;
}

/* -------Service-Page-style-------- */
/* ------details-section-start------ */
.details-section{
  padding: 80px 0px;
  position: relative;
}
.details-section h5{
  margin-bottom: 0;
  margin-top: 20px;
}
.details-section h1{
  margin-top: 20px;
  font-size: 35px;
}
.details-section .container-fluid{
  padding: 0px 40px;
}
.details-section .quote{
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.217);
}
.details-section .quote h2{
  margin-top: 0px;
}
.details-section .dsr h2{
  margin: 15px 0px;
}
.dsl-list{
  margin-bottom: 40px;
}
.dsl-list ul {
  list-style: none;
  padding: 10px;
  position: relative;
  background-color: #eee;
  border-radius: 5px;
  z-index: 5;
  border: 2px solid #f00b0b;
}
.dsl-list ul li {
  margin: 14px 0px;
}
.dsl-list ul li a {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  padding: 13px 20px;
  border-radius: 4px;
  background-color: #000;
}
.dsl-list ul li a span {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.dsl-list ul li a i {
  color: #f00b0b;
  font-size: 21px;
  font-weight: 700;
}
.dsl-list ul li a:hover, .dsl-list ul li .active {
  box-shadow: 0px 10px 20px 0px #11687e23;
  background: #f00b0b;
  color: #ffffff;
}
.dsl-list ul li a:hover i, .dsl-list ul li .active i {
  color: #fff;
}
.dsr-img{
  margin: 20px 0px;
}
.dsr-img img{
  border-radius: 10px;
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.details-section .quote-form{
  margin: 0;
  position: sticky;
  top: 0;
  margin-top: 40px;
}
.details-section .dsr .ds-box{
  padding: 15px;
  background-color: #eee;
  border-left: 4px solid #000;
  margin-top: 20px;
}
/* ---Details-Section-End--- */
/* -------Responsive-------- */

@media screen and (max-width:1200px) {
  .top-right{
    padding-right: 140px;
  }
  .menu::after{
    width: 33%;
  }
  .detail-title {
    font-size: 45px;
}
.menu .navbar-nav{
    padding-left:40px;
}
.menu .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 13px;
  font-size: 16px;
}
.hero-section .hero-slide{
  padding: 60px 0px;
}

.detail-box{
  bottom: -30% !important;
}
.detail-desc{
  font-size: 18px;
}
.as-contnet h2 {
    font-size: 25px;
}
}

@media screen and (max-width:1024px) {
  .ser-box .ser-img img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .cta-content{
    position: relative;
    z-index: 4;
  }
  .cta-section .cta-img {
    margin-top: -100px;
}
.about-section{
  margin-bottom: 30px;
}
.m-100 {
  margin-bottom: 60px;
}
.as-content ul li {
  font-size: 15px;
  margin: 7px 0px;
}
.team-box .text span{
    font-size:13px;
}
.team-box h5{
    font-size:15px;
}
}

@media screen and (max-width:992px) {
  .top-bar,header .book,.book-now{
    display: none;
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
.m-100{
  margin-bottom: 50px;
}
.form-section .form-box{
  margin-bottom: 30px;
}
.p-100{
  padding: 50px 0px;
}
  .menu .navbar-expand-lg .navbar-nav .nav-link{
    padding: 7px 0px;
  }
  .menu img {
    height: 50px;
}
.hero-section .hero-slide h2{
  margin: 5px 0px;
}
.hero-section .hero-slide{
  background-image:linear-gradient(#00000080,#00000080),url(../images/hero2.jpg);
}
.hero-section .hero-slide2{
  background-image:linear-gradient(#00000080,#00000080),url(../images/banner.jpg);
}
.menu::before{
  background-color: #f00b0b;
}
.menu::after {
  width: 45%;
}
.menu .navbar-nav {
  display: block;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.menu button.navbar-toggler{
  border: 2px solid #f00b0b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .navbar-toggler-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-section #tabs-nav{
  flex-wrap: wrap;
  margin: 10px 0px;
}
.project-section ul li {
  margin: 8px 4px;
}
.project-section{
  padding: 50px 0px;
}
}

@media screen and (max-width:768px) {
  .cta-section::after,.form-section .form-head{
    display: none;
  }
  .what a {
    font-size: 32px;
    height: 60px;
    width: 60px;
}
.what a:last-child {
    font-size: 25px;
}
  .slideWiz{
    height: 450px !important;
  }
  .map-section {
    height: 330px;
}
  .banner-section{
    padding: 70px 0px 50px;
  }
  .banner-section .banner-title h2 {
    font-size: 30px;
}
  .detail-title {
    font-size: 35px;
  }
  .detail-box{
    bottom: -37% !important;
  }
  .as-contnet,.video-text{
    margin-top: 30px;
  }
  .form-section .map{
    height: 300px;
  }
  .cta-section .cta-img {
    margin-top: 0px;
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
.cta-section .call>a {
  height: 50px;
  margin-bottom: 25px;
  width: 50px;
  font-size: 16px;
}
.cta-section .call h3 {
  font-size: 18px;
}
.footer-section .copy-right{
  margin-top: 20px;
}
h2 {
  font-size: 25px;
}
.details-section .dls{
  margin-top: 30px;
}
.dsr-img img {
  height: auto;
}
.details-section h1 {
  margin-top: 20px;
  font-size: 28px;
}
.contact-section .contact-box{
  height: auto;
}
}

@media screen and (max-width:580px) {
  .detail-box {
    width: 95%;
}
.hero-section .hero-slide{
  background-position: right;
}
.hero-section h2{
  font-size: 25px;
}
.hero-section p{
  font-size: 15px;
}
.menu .navbar-brand img {
   width: 160px;
}
.map-section {
  height: 280px;
}
.slideWiz{
  height: 400px !important;
}
.detail-title {
  font-size: 25px;
}
.testimonial-section{
  padding-bottom: 30px;
}
.detail-desc{
  font-size: 15px;
}
.main-image-box{
  display: none !important;
}
h2 {
  font-size: 21px;
}
.video-section{
  padding: 40px 0px;
}
.menu::after {
  width: 60%;
}
.as-contnet h2 {
  font-size: 20px;
}
.as-content{
  margin-top: 20px;
}
.testimonial-section {
  padding-bottom: 0px;
}
.hero-section{
  text-align: center;
  margin-bottom: 0;
}
.ser-box{
  margin-top: 70px;
}
.hero-section p {
  font-size: 17px;
}
.hero-section h2 {
  font-size: 32px;
}
.cta-section .cta-img img{
  width: 100%;
  opacity: .4;
}
.cta-section .cta-img{
  bottom: 0;
  top: auto;
}
.slick-slide img{
  margin: auto;
}
.brand-img img{
  width: 140px;
}
.brand-img{
  margin: 10px;
}
.cta-section .call h3 {
  font-size: 24px;
  margin-top: -20px;
}
.ser-head h2{
  margin-bottom: 0;
}
.form-section{
  margin: 10px;
}
}


/*---thank-Section-Start----*/

.thank{
  text-align:center;
  height: 100vh;
  width: 100%;
  margin-top:0px;
}
.thank img{
    width:60%;
}
.thank ul{
  padding:0;
  list-style:none;
  display:flex;
  align-items:center;
}
.thank ul li a{
  height:45px;
  width:45px;
  background:#f00b0b;
  color:#fff;
  font-size:20px;
  display:flex;
  align-items:center;
  margin:5px;
  border-radius:5px;
  justify-content:center;
}

@media screen and (max-width:1024px) {
.thank{
  margin-top:80px;
}
}

@media screen and (max-width:768px) {
  .thank{
  margin:50px 0px;
  height:auto;
}
}

@media screen and (max-width:580px) {
.thank{
  margin:20px 0px;
}
.thank img{
    width:70%;
}
}

/*---thank-Section-end----*/
/* -------branches-section-start------- */

.branches-section{
  padding-top: 80px;
}
.branches-head{
  text-align: center;
}
.branches-head .under{
  justify-content: center;
}
.testimonial-section .bs-box{
  padding: 10px;
  background-color: #f00b0b	;

  border-radius: 10px;
}
.bs-box h2{
  margin: 0 !important;
}
.bs-box h2 a{
    color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
 
}
.bs-box{
  transition: .5s;
  height: 100%;
  margin: 0;
  padding: 0;
}
.bs-box:hover{
  color: #fff;
  background-color: #000 ;
}
.bs-box:hover a{
  color: #fff;
}
